

@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
}
#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #bbe0e9;
}
#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}
#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}
#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}
canvas{
    position: relative;
    z-index: 9;
    max-width: 100vw;
    max-height: 100vh;
}
#loop{
    display: flex;
    position: absolute;
    top: 30%;
    height: 25%;
    width: 100%;
    font-size: 100px;
    white-space: nowrap;
    font-family: gilroy;
}
#loop>h1{
    font-weight: 400;
    animation-name: anim;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#loop>h1>span{
    -webkit-text-stroke: 1.2px #000;
    color: transparent;
    font-weight: 500;
}
@keyframes anim{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 0px 30px;
}
#nav>h3{
    font-family: gilroy;
    font-weight: 400;
    font-size: 22px;
}
#nav>button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    border: none;
}
#page>h3{
    position: absolute;
    top: 55%;
    font-family: gilroy;
    font-weight: 400;
    color: #7c7c7c;
    left: 5%;
}
#page>h4{
    position: absolute;
    top: 62%;
    left: 25%;
    font-family: gilroy;
    font-weight: 500;
}
#page1>#right-text{
    position: absolute;
    top: 30%;
    left: 10%;
}
#page1>#right-text>h3{
    font-weight: 400;
    color: #7c7c7c;
}
#page1>#right-text>h1{
    line-height: 1.5;
    font-size: 50px;
    right: 5%;
}
#page1>#left-text{
    position: absolute;
    top: 50%;
    right: 10%;
    text-align: end;
}
#page1>#left-text>h1{
    font-size: 50px;
    line-height: 1.5;
}
#page1>#left-text>h3{
    color: #7c7c7c;
    font-weight: 400;
}
#page2>#text1{
    position: absolute;
    top: 30%;
    left: 10%;
}
#page2>#text1>h3{
    color: #7c7c7c;
    font-weight: 400;
}
#page2>#text1>h1{
    font-size: 20px;
    line-height: 1.5;
}
#page2>#text2{
    position: absolute;
    top: 55%;
    left: 60%;
    right: 5%;
    text-align: justify;
    color: #000;
}
#page2>#text2>p{
    color: #7c7c7c;
    font-weight: 600;
    font-size: 18px;
}
#page3>#text3{
    position: absolute;
    top: 25%;
    left: 65%;
    right: 5%;
    text-align: justify;
}
#page3>#text3>h3{
    color: #7c7c7c;
    font-weight: 400;
}
#page3>#text3>h1{
    font-size: 70px;

}
#page1>#right-text>#HomePgeBtn>#btn1{
    position: absolute;
    left: 22%;
    top: 105%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#page1>#left-text>#HomePgeBtn>#btn2{
    position: absolute;
    left: 60%;
    top: 105%;
    transform: translate(-50%,-50%);
    text-align: center;
}


#page1>#right-text>#HomePgeBtn>#btn1{
    border: none;
    margin: 18px;
    padding: 20px;
   
    width: 150px;
    font-family: 'Protest Riot', sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    background-size: 180%;
    transition: 0.6s;

}
#page1>#right-text>#HomePgeBtn>#btn1,#btn2{
    background-image: linear-gradient(to left,#FDA7DF,#9980FA,#FDA7DF);

}
#page1>#left-text>#HomePgeBtn>#btn2{
    border: none;
    margin: 18px;
    padding: 20px;
   
    width: 185px;
    font-family: 'Protest Riot', sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    background-size: 180%;
    transition: 0.6s;
}
#btn1:hover{
    background-position: right;
}
#btn2:hover{
    background-position: right;
}

