body {
    margin: 0;
    padding: 0;
    line-height: 1.8em;
    font-family: 'Montserrat', sans-serif;
     scroll-behavior: smooth;
  }
  
  h1 {
    margin: 0;
  }
  #start-btn{
    position: absolute;
    left: 48%;
    top: 105%;
    transform: translate(-50%,-50%);
    text-align: center;
    border: none;
    margin: 18px;
    padding: 15px;
    width: 150px;
    font-family: 'Bruno Ace SC', cursive;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    background-size: 180%;
    background-image: linear-gradient(to left,#ebbbda,#1a0a5a,#FDA7DF);
    transition: 0.6s;
  }
  #start-btn1{
    position: absolute;
    left: 20%;
    top: 40%;
    text-align: center;
    border: none;
    margin: 18px;
    padding: 15px;
    width: 250px;
    font-family: 'Bruno Ace SC', cursive;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    background-size: 180%;
    background-image: linear-gradient(to left,#ebbbda,#1a0a5a,#FDA7DF);
    transition: 0.6s;
  }
  #start-btn1:hover{
    background-position: right;
}
  .img-1 {
    background-image: url("images/Traveller.jpg");
    min-height: 1000px; 
  /*  The first picture will be larger.  */
  }
  .img-2 {
    background-image: url("images/ayodhya.jpg");
    min-height: 600px;
  }
  .img-3 {
    background-image: url("images/somnath.jpg");
    min-height: 600px;
  }
  .img-4 {
    background-image: url("images/badrinath.jpg");
    min-height: 600px;
  }
  .img-5 {
    background-image: url('https://images.unsplash.com/photo-1601821139990-9fc929db79ce?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    min-height: 850px;
  }
  
  .img-1,
  .img-2,
  .img-3,
  .img-4,
  .img-5 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
  /*  This is what makes the effect work. So that when we scroll the image, it retains its min-height with its attatchment fixed  */
    filter: opacity(0.8) brightness(0.8);
  }
  
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }
  .section p {
    position:relative ;
    top: 12px;
    font-size: 16px;
    height: 150px;
    width: 500px;
  }
  
  .section-1 {
    position: relative;
    top: 300px;
    color: white;
    font-size: 28px;
  }
  
  .section-1 h1 {
    border-radius: 15px;
    border: 2px solid rgb(7, 132, 115);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.63);
  }
  
  .section-1 button {
    position: relative;
    top: 40px;
    font-size: 20px;
    padding: 15px;
    border-radius: 40px;
    color: white;
    border: 1px solid transparent;
    background-color: rgb(5, 3, 29);
  }
  
  .section-2,
  .section-3,
  .section-4,
  .section-5 {
    background-color: rgb(5, 3, 29);
    color: white;
  }
  
  .section-2 h1,
  .section-3 h1,
  .section-4 h1,
  .section-5 h1 {
    border-bottom: 2px solid rgb(7, 132, 115);
  }
  